@import "reset";
@import "./themes/dark";
@import "./themes/normal";
@import "./themes/green";
@import "./variables/global";

*body {
  color: var(--primary-color);
  font: var(--font-m);
}

.app {
  background: var(--bg-color);
  min-height: 100vh;
}

.page-container {
  display: flex;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: var(--card-bg);
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: var(--inverted-primary-color);
  border-radius: 20px;
  border: 2px solid var(--primary-color);
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}
