.Modal {
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: var(--btn-z-index);
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 20px;
  border-radius: 15px;
  background: var(--bg-color);
  transition: var(--basic-transition);
  max-width: 60%;
  z-index: var(--modal-z-index);
}

.opened {
  opacity: 1;
  pointer-events: auto;
  z-index: var(--modal-z-index);

  .content {
    transform: scale(1);
  }
}

.isClosing {
  .content {
    transform: scale(0.2);
  }
}

.isOpening {
  .content {
    transform: scale(0.5);
  }
}
