.Sidebar {
  width: var(--sidebar-width-colapsed);
  height: calc(100vh - var(--navbar-height));
  background: var(--inverted-bg-color);
  position: relative;
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.Fullview {
  width: var(--sidebar-width);
}

.switchers {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  width: 100%;
  gap: 20px;
}

.button {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 20px;
  width: 60px;
  margin: 0 auto;
}
