.LIST {
  transition: var(--basic-transition);
}

.ArticleListWrapper {
  height: 100%;
}

// TODO adaptivity
// .itemContainer,
// .skeletonGrid,
// .itemWrapper {
//   gap: 50px;
// }

.itemWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.skeletonGrid {
  margin-top: 30px;
}

.ScrollSkeleton {
  width: 230px;
}
