.sortWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchWrapper {
  margin-top: 15px;
}

.viewWrapper {
  margin-left: auto;
}

.tabs {
  margin-top: 15px;
}
