.menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: var(--card-bg);
  border-radius: 10px;
  z-index: var(--btn-z-index);
  border: 1px solid var(--primary-color);
}

.item {
  width: 100%;
  padding: 10px 25px !important;
  background: none;
  outline: none;
  cursor: pointer;
  color: var(--primary-color);
  border-radius: 10px;
}
