.AppLink {
  color: var(--primary-color);
  display: flex;
  gap: 10px;

  &:hover {
    opacity: 0.8;
  }
}

.primary {
  color: var(--primary-color);
}

.inverted {
  color: var(--inverted-primary-color);
}
